<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engineer.user.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.engineer.user.pojo.User">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name_spell" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="avatar_path" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="avatar_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="avatar_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone_verified" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="email_verified" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="last_login_ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="last_login_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="enabled" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="productid" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
</mapper>